[Unit]
Description=Rusudenkun Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/rusudenkun -config /usr/local/etc/rusudenkun.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
